body{
	background-image: url("../img/background.png");
}

/*--------- Logo -----------*/
.my-logo{
	margin: 20px 0 -30px 100px;
}

/*--------- Menu -----------*/
nav{
	margin: -40px 65px 50px 0;
}

nav ul{
	float: right;
}

nav ul li{
	float: left;
	padding: 0 20px;
}

nav ul li a{
	font-family: Segoe Script;
	font-size: 18px;
	color: #43536f;
}

nav ul li a:hover{
	color: #43536f;
}

/*--------- Slide -----------*/
.my-slide{
	width: 100%;
}

.back img{
	width: 100%;
	height: 300px;
	display: block;
	margin: auto;
	margin-top: -350px;
}

/*--------- Section -----------*/
.my-section-index{
	margin-top: 50px;
	margin-left: -20px;
}

.my-section-index a{
	font-family: Segoe Script;
	font-size: 16px;
	color: #43536f;
	text-decoration: none;
}

.my-section-index img{
	margin-top: 15px;
}

.my-section-index p{
	margin-top: 10px;
	width: 190px;
	text-align: justify;
}

/*Comentarios*/
.commentBox {
	margin-top: 5px;
    margin-left: -10px;
}

.commentList {
    list-style:none;
    font-family: Segoe Script;
}

.sub-text {
    color:#aaa;
    font-size:11px;
}

hr{
	margin-top: 35px;
	background-color: #ccc;
	padding-top: 3px;
	width: 190px;
}

.my-last-hr {
	margin-top: 30px;
	margin-left: 15px;
}

/*--------- Footer -----------*/
.back2 img {
	width: 100%;
	height: 300px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

/*Esquerda*/
.my-redes-tel {
	font-family: Segoe Script;
	margin-top: 55px;
	position: absolute;
	z-index: 2;
	color: #ddd;
}

.my-telefone {
	margin-top: 75px;
}

.my-telefone h3 {
	font-size: 18px;
}

.my-telefone span {
	font-size: 26px;
}

/*Centro*/
.my-logo-end {
	font-family: Segoe Script;
	margin-top: 55px;
	position: absolute;
	z-index: 2;
	color: #ddd;
	margin-left: 100px;
}

/*Direita*/
.my-contato {
	font-family: Segoe Script;
	margin-top: 55px;
	position: absolute;
	z-index: 2;
	color: #ddd;

}