body{
	background-image: url("../img/background.png");
}

/*--------- Logo -----------*/
.my-logo{
	margin: 20px 0 -30px 100px;
}

/*--------- Menu -----------*/
nav{
	margin: -40px 65px 50px 0;
}

nav ul{
	float: right;
}

nav ul li{
	float: left;
	padding: 0 20px;
}

nav ul li a{
	font-family: Segoe Script;
	font-size: 18px;
	color: #43536f;
}

nav ul li a:hover{
	color: #43536f;
}

/*--------- Slide -----------*/
.my-slide{
	width: 100%;
}

.back img{
	width: 100%;
	height: 300px;
	display: block;
	margin: auto;
	margin-top: -350px;
}

/*--------- Section -----------*/
.my-section-index{
	margin-top: 50px;
	margin-left: -20px;
}

.my-section-index a{
	font-family: Segoe Script;
	font-size: 16px;
	color: #43536f;
	text-decoration: none;
}

.my-section-index img{
	margin-top: 15px;
}

.my-section-index p{
	margin-top: 10px;
	width: 190px;
	text-align: justify;
}

/*Comentarios*/
.commentBox {
	margin-top: 5px;
    margin-left: -10px;
}

.commentList {
    list-style:none;
    font-family: Segoe Script;
}

.sub-text {
    color:#aaa;
    font-size:11px;
}

hr{
	margin-top: 35px;
	background-color: #ccc;
	padding-top: 3px;
	width: 190px;
}

.my-last-hr {
	margin-top: 30px;
	margin-left: 15px;
}

/*--------- Footer -----------*/
.back2 img {
	width: 100%;
	height: 300px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

/*Esquerda*/
.my-redes-tel {
	font-family: Segoe Script;
	margin-top: 55px;
	position: absolute;
	z-index: 2;
	color: #ddd;
}

.my-telefone {
	margin-top: 75px;
}

.my-telefone h3 {
	font-size: 18px;
}

.my-telefone span {
	font-size: 26px;
}

/*Centro*/
.my-logo-end {
	font-family: Segoe Script;
	margin-top: 70px;
	position: absolute;
	z-index: 2;
	color: #ddd;
	left: 33%;
}

.my-logo {
	margin-right: 30px;
}

.my-endereco {
	text-align: center;
	margin-top: 60px;
	margin-left: 70px;
}

/*Direita*/
.my-for {
	font-family: Segoe Script;
	margin-top: 55px;
	position: absolute;
	z-index: 2;
	color: #ddd;
	right: 9%;
}

.my-form form input{
	padding: 5px;
	background-color: #aeb4bf;
	font-family: Segoe Script;
}

.my-form ::-webkit-input-placeholder {
color: #eee;
}
.my-form :-moz-placeholder {
color: #eee;
}
.my-form ::-moz-placeholder {
color: #eee;
}
.my-form :-ms-input-placeholder { 
color: #eee;
}

.my-form form input.botao{
	width: 100px;
	color: #eee;
}

/* ************* Pagina SOBRE ************* */
.my-section-sobre{
	margin-top: 50px;
}

.my-coliff p {
	text-align: justify;
}

/* ************ Pagina FARDAMENTOS ************ */
.my-produto-titulo{
	font-size: 26px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.my-produto{
    width: 180px;
    float: left;
	margin-right: 30px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.my-produto:last-child{
	margin-right: -50px;
}

.my-produto h2{
	text-align: center;
	font-size: 18px;
}

.my-produto img{
    height: 140px;
}

.my-produto p{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/* ********* Pagina - CONTATOS ********** */
.my-section-contato{
	margin-top: 50px;
}

.my-contato-form form{
	width: 480px;
	margin: 5px auto;
	padding: 10px;
	border-radius: 3px;
}

.my-contato-form form label{
	font-size: 24px;
	display: block;
	padding: 5px 0 2px 0;
}

.my-contato-form form textarea{
	width: 470px;
	border-radius: 6px;
}

.my-contato-form form input{
	width: 460px; 
	padding: 5px;
	border-radius: 6px;
}

.my-contato-form form input.botao{
	width:235px;
}

/* ********* Pagina - COMENTARIOS ********** */
.my-section-comentarios .commentBox {
    padding: 10px;
    border-top: 2px dotted #bbb;
    
}

.my-section-comentarios .commentList {
    padding: 10px;
    list-style:none;
}

.my-section-comentarios .commentList li {
    margin:0;
    margin-top:10px;
}

.my-section-comentarios .commentText p {
    margin: 5px 0 5px 0;
}
.my-section-comentarios .sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}